.about {
    background-color: rgb(12, 4, 20);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        margin-top: 80px;
        font-size: 40px;
        font-weight: lighter;
    }
}

.about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}

.about-img {
    width: 20%; 
    img {
        width: 100%;
    }
    @media screen and (max-width: 765px) {
        width: 80%;
        margin: 0 auto;
    }
}



.about-text {
    width: 50%;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
        margin: 10px 0;
        font-size: 18px;
    }
    @media screen and (max-width: 765px) {
        width: 80%;
        margin: 0 auto;
        padding-right: 0;
    }
}