.contact {
  background-color: #0c0414;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact h1 {
  margin-top: 80px;
  font-size: 40px;
  font-weight: lighter;
}

.pop-up-message {
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 32px 3px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 0px 32px 3px rgba(0, 0, 0, 0.8);
  position: fixed;
  max-width: 500px;
  background-color: #312f2f;
  z-index: 100;
  left: calc((50vw - 50%) * -1);
  top: calc((50vh - 50%) * -1);
  -webkit-transform: translate(calc(50vw - 50%), calc(50vh - 50%));
          transform: translate(calc(50vw - 50%), calc(50vh - 50%));
}

.pop-up-message .close-message {
  top: 10px;
  right: 10px;
  position: absolute;
  cursor: pointer;
}

.pop-up-message p {
  margin-top: 20px;
  height: 35px;
}

@media screen and (max-width: 600px) {
  .pop-up-message {
    margin: 10px 0;
  }
}

.contact-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 6rem;
  gap: 5rem;
}

@media screen and (max-width: 1100px) {
  .contact-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contact-informations-container {
  width: 100%;
  max-width: 500px;
}

.contact-information {
  background-color: #131212;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
  border-radius: 8px;
}

.contact-information p {
  font-size: 1.2rem;
}

@media screen and (max-width: 800px) {
  .contact-information p {
    font-size: 0.8rem;
  }
}

.icon {
  color: white;
  font-size: 40px;
  background-color: #0c0414;
  padding: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.contact-form-container {
  width: 100%;
  max-width: 500px;
}

.form-grup {
  width: 100%;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-grup label {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.form-grup input {
  background-color: #131212;
  color: white;
  font-size: 1.4rem;
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 8px;
}

.form-grup textarea {
  background-color: #131212;
  color: white;
  font-size: 1.2rem;
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 10px;
}

.btn-submit {
  color: white;
  background-color: #232391;
  border: none;
  font-size: 20px;
  font-weight: bolder;
  padding: 15px 25px;
  border-radius: 8px;
  margin-bottom: 2rem;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.btn-submit:hover {
  background-color: white;
  color: black;
}
/*# sourceMappingURL=contact.css.map */