.main-header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(12, 4, 20);
    font-size: 40px;
    p {
        text-align: center;
        padding: 5px;
        z-index: 200;
        color: white;
      }
}


.move-up {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 45vh;
  }

  .my-name {
    color: #fcbf49;
    font-weight: bold;
  }